<tr>
  <td><%= increase_index index %></td>
  <td><%= organization.name %> (<%= organization.users.size %> <%= t ".members" %>)</td>
  <td><%= organization.created_at %></td>
  <td class="action">
    <a class="btn btn-info btn-round">
      <i class="fa fa-eye"></i>
    </a>
  </td>
</tr>
