<tr>
  <td><%= increase_index index %></td>
  <td><%= user.name %> </td>
  <td><%= user.email %> </td>
  <td><%= l user.created_at, format: :short %></td>
  <td class="action">
    <a class="btn btn-info btn-round">
      <i class="fa fa-eye"></i>
    </a>
    <% unless user.admin? %>
      <%= link_to admin_user_delete_path(user),
        class: "btn btn-danger btn-round" do %>
        <i class="fa fa-trash-o"></i>
      <% end %>
    <% end %>
  </td>
</tr>
