<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= full_title yield :title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "admin" %>
  <%= javascript_include_tag "admin" %>
</head>
<body>
  <div class="wrapper">
    <%= render "shared/nav" %>
    <div class="page-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">
              <%= yield :title %>
            </h1>
          </div>
        </div>
        <%= render "shared/error_messages" %>
        <%= yield %>
        <div class="row">
          <div class="col-lg-12">
            <div class="copyright">
              <span><%= t ".copyright" %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
